@charset "utf-8";

@font-face {
	font-family: "RymanEco";
	src: url("/fonts/RymanEco-Regular.otf");
}

.RymanEco {
	font-family: 'RymanEco', sans-serif;
}

.DoHyeon {
	font-family: 'Do Hyeon', sans-serif;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
		url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	vertical-align: middle;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

table {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

th {
	background: #dee2e6;
	font-size: 1.1rem;
}

td,th {
	padding: 5px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

@media ( max-width : 991px) {
	.container {
		max-width: 95%;
	}
}

.hidden {
	visibility: hidden;
}

.border-b-1 {
	border: black solid 1px;
}

.border-r-1 {
	border: red solid 1px;
}

.mg-auto {
	margin: auto;
}

.content-center {
	margin: 0 auto;
}

.project-item {
	margin-bottom: 3%;
}

.project-item-title {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.progress {
	margin: 0 auto;
}

.pro-content {
	width: 100%;
	padding: 7%;
	border: 3px solid lightgray;
	margin: 1px auto;
	text-align: center;
	border-radius: 15px;
}

.findPw-input {
	height: 50px;
	margin: 10px auto;
	border: lightgray solid 1px;
}

#COMMENT {
	padding-bottom: 10px;
}

#info-ecoFunLogo {
	background-image: url('http://placehold.it/310x310');
	background-size: 100% 100%;
	height: 300px;
	margin: 0 auto;
}

/* 회원 관리 */
.layer-background {
	position: absolute;
	z-index: 2000;
	background-color: black;
	display: none;
	left: 0;
	top: 0;
}

.member-detail {
	display: none;
	position: fixed;
	z-index: 2001;
	width: 90%;
	left: 5%;
	top: 10%;
	background-color: white;
}

/* Project Order */
.order-area td input {
	margin: 5px auto;
	background: #ececec;
	text-align: center;
	font-size: 1.2rem;
}

.address-area {
	display: flex;
	flex-wrap: wrap;
}

.zipCode-btn {
	color: white;
	background: #222;
	border-radius: 3px;
	border: none;
	margin: 0 auto;
}

/* Project Order Result */
.result-area /*  */                                          
.slick-slide:focus {
	outline: none;
}

input:focus,select:focus,textarea:focus,button:focus,img:focus {
	outline: none !important;
	outline-width: 0px;
}

a,button,input,textarea,img {
	outline: none !important;
}

body,html {
	overflow-x: hidden;
	min-width: 360px;
}

.wrap_container {
	height: 100%;
	box-sizing: border-box;
	padding-top: 70px;
	margin: 0px auto;
}

/*정렬 옵션 클래스*/
.auto {
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: inline-block;
	margin: auto;
}

.cover {
	background-size: cover;
}

.contain {
	background-size: contain;
}

.white {
	color: #fff;
}

.black {
	color: #222;
}

.bg-w {
	background: #fff;
}

.hover {
	transition: 1s linear;
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	-ms-transition: 1s linear;
}

.hover:hover {
	opacity: 0.8;
	cursor: pointer;
}

.date {
	display: inline-block;
	width: 40%;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
}

.footer-logo {
	color: darkgray;
	font-size: 2em;
	font-family: 'Do Hyeon', sans-serif;
}

.footer-sns {
	display: inline-flex;
	justify-content: space-between;
}

.footer-sns img {
	width: 50px;
	margin: 10px 20px 30px 20px;
}

@media ( min-width : 992px) {
	.pc-footer {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 auto;
		width: 66.6666666667%;
		text-align: left;
	}
	.pc-footer div {
		flex: 0 0 auto;
		width: 50%;
	}
	.mobile-footer {
		display: none;
	}
}

@media ( max-width : 991px) {
	.mobile-footer {
		display: block;
		margin: 0 auto 10% auto;
		text-align: left;
	}
	.mobile-footer div {
		flex: 0 0 auto;
		width: 100%;
	}
	.pc-footer {
		display: none;
	}
}

#facebook,#instagram,#youtube,.footer-logo {
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
}

#facebook:hover,#instagram:hover,#youtube:hover,.footer-logo:hover {
	opacity: 0.3;
	cursor: pointer;
}

/*TOP MENU*/
.wrap {
	width: 100%;
	height: 100%;
	text-align: center;
}

.main_wrap {
	width: 900px;
	margin: 0px auto;
}

.top {
	z-index: 5;
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0px;
}
/*PC네비게이션 메뉴*/
.pc-top-nav {
	width: 690px;
	height: 70px;
	float: left;
}

.pc-nav-wrap,.pc-sub-nav-wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-grow: row;
	-webkit-flex-grow: row;
	-mos-flex-grow: row;
	align-content: space-between;
	-webkit-align-content: space-between;
	-ms-align-content: space-between;
	text-align: center;
	width: 690px;
	height: 70px;
	position: relative;
	margin: 0px auto;
}

.pc-nav-wrap {
	color: white;
	z-index: 5;
	box-sizing: border-box;
}

.pc-nav-wrap a {
	color: white;
	width: 100%;
	height: 100%;
}

.pc-nav-flex {
	background: #222;
	box-sizing: border-box;
	line-height: 70px;
	flex: 1 1 0;
	-ms-flex: 1 1 auto;
}

.pc-nav-flex a {
	transition: .2s linear;
	font-size: .9rem;
}

.pc-sub_flex {
	flex: 1 0 0;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 0;
}

.pc-nav-wrap>li:hover {
	border-bottom: 3px solid gold;
}

.pc-nav-wrap>li:hover>a {
	color: gold;
}

.pc-nav-wrap>li>a {
	margin: 0;
	padding: 0;
	height: 67px;
	width: 140px;
}

.flex_long {
	flex: 1 1 0;
	-ms-flex: 1 1 0;
	-webkit-flex: 1 1 0;
}

.sub-nav-wrap {
	position: absolute;
	width: 100%;
	height: 160px;
	top: -230px;
	background: #444;
	z-index: -5;
}

.pc-nav-flex ul {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border: 1px solid #666;
	border-width: 0px 0px 0px 0px;
	display: flex;
	flex-flow: column;
	align-content: flex-start;
	line-height: 1rem;
	z-index: -5;
}

.pc-nav-wrap ul.market-nav {
	border-left-width: 1px;
}

.pc-nav-wrap ul:last-child {
	border-right-width: 1px;
}

.pc-nav-flex ul li {
	flex: 1;
}

.pc-nav-flex ul {
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	top: -260px;
	height: 160px;
}

.sub-nav-wrap {
	top: -260px;
	height: 160px;
}

.pc-nav-flex  ul  li  a {
	color: #dcdcdc;
	width: 100%;
	height: 100%;
	font-size: .75rem;
	line-height: 1.5rem;
	box-sizing: border-box;
}

.pc-nav-flex  ul  li  a:hover {
	background: gold;
	color: #222;
}

.Down {
	top: 0px;
}

.menu_wrap {
	width: 100%;
	height: 70px;
	background: #222;
	position: relative;
}

.pc-menu {
	width: 1200px;
	height: 70px;
	margin: 0px auto;
	z-index: 3;
}

.menu_top {
	margin-left: 16px;
}

.menu_top_r {
	position: relative;
	top: 15px;
	margin-right: 16px;
	float: right;
}

.menu_top_r li {
	float: left;
}

.menu_title a,.menu_title_r a {
	color: white;
	margin: 22px 30px 0px 30px;
	padding: 4px;
	font-size: 1.1rem;
	float: left;
}

.menu_title a:nth-child(3) {
	margin-left: 10px;
	margin-right: 10px;
}

.menu_title a:nth-child(5) {
	margin-left: 20px;
	margin-right: 20px;
}

.menu_title_r a {
	margin: 0px 2px 0px 2px;
	padding: 0px;
	line-height: .8em;
	float: right;
	font-size: .8em;
}

.menu_title a,.menu_title_r a {
	transition: 1s linear;
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	-ms-transition: 1s linear;
}

.menu_title a:hover,.menu_title_r a:hover {
	color: #F7DE00;
}

.subtitle_bg {
	width: 100%;
	height: 180px;
	background: #444;
	margin-top: 70px;
	position: absolute;
	z-index: -100;
	top: -180px;
	-webkit-transition: top .5s ease;
	transition: top .5s ease;
}

.subtitle_menu {
	position: relative;
	top: -180px;
	-webkit-transition: top .5s ease;
	transition: top .5s ease-in-out;
}

.top:hover .subtitle_bg {
	top: 0px;
}

.top:hover .subtitle_menu {
	top: 0px;
}

.subtitle {
	width: 1200px;
	margin: 0 auto;
}

.subtitle_logo {
	width: 140px;
	height: 20px;
	margin-left: 16px;
	margin-right: 20px;
}

.subtitle_menu li {
	width: 100px;
	height: 20px;
	font-size: .75rem;
}

.subtitle_menu ul li a {
	padding: 4px;
	margin-top: 8px;
	color: #b5b5b5;
	transition: 0.5s linear;
	-webkit-transition: 0.5s linear;
}

.subtitle_menu ul li a:hover {
	color: white;
}

.subtitle li {
	float: left;
}

.subtitle li ul li {
	float: none;
}

.menu_title:hover .subtitle {
	display: block;
}

.menu_icons {
	background-size: cover;
	width: 40px;
	height: 40px;
	transition: 0.2s ease;
}

.menu_icons:hover {
	opacity: .3;
}
/*모바일 메뉴*/
.mobile-menu {
	display: none;
	z-index: 6;
}

.mobile-nav-button {
	position: absolute;
	margin: 16px;
	right: 0;
	top: 6px;
	z-index: 9999;
	cursor: pointer;
	width: 35px;
	height: 30px;
	display: none;
}

.mobile-nav-button .mobile-nav-button__line {
	width: 100%;
	height: 3px;
	background: #fff;
	position: relative;
	transition: 0.5s ease;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
	margin: 0.5rem 0;
}

.mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 {
	display: none;
}

.mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	top: 13px;
	position: absolute;
}

.mobile-nav {
	z-index: 7;
	width: 75%;
	height: 100%;
	background: #444;
	position: fixed;
	visibility: visible;
	overflow: visible;
	top: 0;
	right: -75%;
	transition: right 0.3s ease-in-out;
}

.mobile-nav-open {
	right: 0;
	visibility: hidden;
	overflow: visible;
	/*overflow:hidden;*/
}

.nav-bg {
	width: 100%;
	height: 100%;
	background: black;
	z-index: 4;
	position: fixed;
	top: 0px;
	opacity: 0.7;
	display: none;
}

.nav-bg_open {
	display: block;
}

.overflow_open {
	overflow: hidden;
	position: fixed;
}

.nav-titlemsg {
	background: #222;
	margin: 0px auto;
	width: 100%;
	height: 70px;
	font-size: 1rem;
}

.nav-titlemsg p {
	padding-top: 24px;
}

.nav-titlemsg p span {
	color: #000000ba;
}

.nav-msg a {
	display: inline-block;
	width: 100%;
	height: 22px;
	padding-top: 8px;
	font-size: .9rem;
	color: white;
	transition: .3s linear;
	background: #333;
	margin-bottom: 20px;
}

.nav-msg a:hover {
	color: #FFEF01;
}

.nav-flex {
	width: 100%;
	height: 55%;
	margin-bottom: 20px;
}

.nav-flex ul {
	width: 100%;
	height: 100%;
	margin: 0px auto;
}

.nav-flex ul li {
	width: 30%;
	margin: 1.5%;
	height: 30%;
	border-radius: 10px;
	border: 1px solid #ececec;
	box-sizing: border-box;
	float: left;
	transition: 0.3s linear;
}
/*모바일 아이콘 배경 사이즈및 포지션 조정*/
.nav-flex ul li a span {
	color: white;
	font-size: .9rem;
	top: calc(100% - .9rem - 24px);
	position: relative;
}

.nav-flex ul li a span:first-child {
	font-size: .7rem;
}

.nav-flex ul li a {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-size: 50%;
	background-position: 50% 20%;
}

.nav-flex ul li:hover {
	background: #333;
	border-color: #000000ba;
}

.nav-sns_wrap {
	width: 100%;
	position: absolute;
	bottom: 55px;
	height: 35px;
	margin-bottom: 15px;
}

.nav-sns_wrap ul {
	margin: 0px auto;
	width: calc(( 24px * 3)+ (6px* 6))
}

.nav-sns {
	width: 24px;
	height: 24px;
	margin: 0px 6px;
	float: left;
}

.nav-login ul {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background: #333;
}

.nav-login ul li {
	float: left;
	width: 50%;
	margin-top: 14px;
	padding: 4px 0px;
	box-sizing: border-box;
	border-right: 1px solid #ececec;
}

.nav-login ul li a {
	color: #ececec;
	transition: .3s linear;
}

.nav-login ul li a:hover {
	color: #000000ba;
}

.nav-login ul li:last-child {
	border: none;
}

/*탭 메뉴 설정*/
.tab_box {
	width: 900px;
	margin: 0 auto;
	overflow: auto;
}

/*메인 이미지 및 타이포*/
.section {
	text-align: center;
}

.slide dl {
	width: 1200px;
	padding: 200px 0px;
	margin: 0px auto;
}

/*메인화면*/
.slide_wrap {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	margin-top: 0px;
	box-sizing: border-box;
}

.slide_title,.slide_content {
	width: 600px;
	height: auto;
	overflow: hidden;
}

.slide_title {
	float: right;
	position: relative;
}

.slide_content {
	float: left;
	z-index: 3;
}

.slide_title h1 {
	color: white;
	font-size: 3rem;
}

.slide_video_wrap {
	width: 1200px;
	left: calc(50% - 600px);
	z-index: 2;
	position: absolute;
}

.slide_video {
	position: absolute;
	width: 560px;
	height: 315px;
	right: 4%;
	top: 350px;
}

.slide_video iframe {
	position: relative;
	width: 100%;
	height: 100%;
}

.slide_contentBox {
	box-sizing: border-box;
	width: 480px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	box-sizing: border-box;
}

.slide_contentBox>li {
	flex: 0 1 auto;
	margin: 1%;
	overflow: hideen;
	box-sizing: border-box;
}

.slide_contentBox>li:nth-child(6) {
	visibility: hidden;
}

.slide_contentBox li button {
	background: none;
	border: none;
	color: white;
}

.slide_contentBox li button:hover {
	transform: scale(1.1, 1.1);
}

.slide_contentBox li button {
	transition: .5s ease;
}

.slide_contentBox li button div {
	background-size: contain;
	margin: 5px auto;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 35%;
}

.slide_title>button:hover,.slide_text>button:hover {
	background-color: #222;
	opacity: .9;
}

.slide_title>button,.slide_text>button {
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 4px;
	background: none;
	padding: 8px;
	color: white;
	font-size: 1.2rem;
	transition: .5s linear;
}

.slide_title>button {
	position: relative;
	left: 200px;
	top: -20px;
}

.slide_text {
	width: 100%;
	height: 300px;
}

.slide_text>button {
	position: relative;
	top: 20px;
}

.slide_contentBox li h3 {
	margin-top: 4px;
	color: white;
	font-size: 1.25rem;
}

.slide_content p {
	color: white;
	font-size: 1.6rem;
	line-height: 3rem;
}

.slide_content p.huigge {
	margin-top: 320px;
}

/*콘텐츠*/
.contain_wrap {
	width: 900px;
	margin: 0px auto;
}

.contain_l {
	float: left;
	width: 50%;
	margin: 0px;
}

.contain_r {
	float: right;
	width: 50%;
	margin: 0px;
}

.contain_f {
	width: 50%;
	height: 100%;
}

.contain_title {
	text-align: left;
	font-size: 2.5em;
	padding: 15% 0% 0% 10%;
}

.contain_txt {
	padding: 5% 10% 0% 10%;
	line-height: 1.5em;
	color: #444;
	margin-left: 0px;
}

.contain_txt:last-child {
	margin-bottom: 60px;
}

.product {
	width: 100%;
	height: 100%;
}

.content {
	width: 300px;
	border: 1px solid #CCC;
	padding: 20px;
	margin: 40px 15px 20px 15px;
	display: inline-block;
}

.button_a {
	width: 100%;
}

.button:hover {
	border: 1px solid #000000ba;
	background: #000000ba;
	color: white;
}

/*로그인*/
.login a {
	color: #999;
}

.pc-login h2 {
	margin: 20px;
	font-size: 1.2rem;
}

.login_area {
	position: relative;
}

.login_area>span {
	position: absolute;
	color: #999;
	top: 45%;
	right: 15px;
}

.mobile-login {
	display: none;
}

.login_contain {
	width: 400px;
	position: relative;
}

.login {
	display: inline-block;
	margin-top: 60px;
}

.login_text {
	margin-top: 60px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.login_logo {
	width: 140px;
}

.login_title {
	font-size: 1.8em;
	color: #3A3A3A;
	margin-top: 60px;
	margin-bottom: 40px;
}

.login_form {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	color: #222;
}

.email {
	border: 1px solid #ccc;
	background: white;
}

.password {
	margin-top: 8px;
	border: 1px solid #ccc;
	background: white;
}

.find_account {
	float: right;
	margin-top: 13px;
	box-sizing: border-box;
	padding: 4px;
	font-size: .8rem;
	cursor: pointer;
}

.find_account:hover {
	color: #444;
}

.login-button,.join-button,.pc-login-button,.pc-join-button {
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
	border: none;
	font-weight: bold;
	font-size: 1.2rem;
}

.pc-login-button {
	color: white;
	margin-top: 0px;
	background: #000000ba;
	margin-top: 12px;
}

.login-button {
	color: white;
	margin-top: 12px;
	background: #999;
}

.pc-join-button {
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
	border: none;
	font-weight: bold;
	font-size: 1.2rem;
	color: black;
	background: #e9e7e7;
}

.join-button {
	color: #999;
	background: white;
	border: 1px solid #bbb;
}

.login_line {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #ccc;
	margin: 16px 0px;
}

.end-button {
	color: white;
	margin-top: 20px;
	margin-bottom: 80px;
	width: 120px;
	padding: 12px;
	border-radius: 5px;
	background: #000000ba;
	display: block;
}

.agreetitle {
	margin-bottom: 30px;
}

.account_agree_wrap {
	width: 1000px;
	overflow: hidden;
	margin: 0px auto;
	box-sizing: border-box;
}

.account_agree_contain {
	width: 100%;
}

.account_agree_contain li {
	width: 100%;
}

.agreearea {
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	height: 200px;
	min-height: 100px;
	font-size: 0.75em;
	line-height: 1.6em;
	color: #666666;
	border: 1px solid #ccc;
	resize: none;
}

.button_id_check {
	font-size: .875rem;
	color: white;
	background: #222;
	padding: 9px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 3px;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
}

/*결제정보*/
.payment_wrap {
	width: 480px;
	margin: 0 auto;
}

.payment_text {
	padding: 15px;
	line-height: 1.6em;
	margin-bottom: 15px;
}

.payment_contain {
	text-align: left;
	display: block;
	position: relative;
	left: 0px;
	padding-left: 50px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 1.2em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.kakaopay {
	position: absolute;
	display: block;
	top: 0px;
	left: 140px;
	width: 45px;
	height: 20px;
	background: red;
	background-image: url("/assets/images/test/kakaopay.jpg");
	background-size: cover;
	border-radius: 3px;
}

.payment_contain input,.payment_agree_contain input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.payment_checkmark {
	position: absolute;
	top: -4px;
	left: 15px;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.payment_price {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: right;
	padding: 15px;
	font-size: 1.4em;
}

.payment_pricelabel {
	color: #999;
	margin-right: 20px;
}

.payment_agree_contain {
	text-align: left;
	display: block;
	position: relative;
	left: 0px;
	padding-left: 50px;
	margin-bottom: 25px;
	cursor: pointer;
	font-size: 1em;
	color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.auto_login {
	text-align: left;
	display: block;
	position: relative;
	top: 15px;
	/* width:80px; */
	padding-left: 30px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 1.1rem;
	float: left;
	color: #777;
}

.last {
	margin-bottom: 60px;
}

.auto_login_chk {
	left: 0px;
}

.payment_agree_contain .payment_agree_checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* On mouse-over, add a grey background color */
.payment_contain:hover input ~ .payment_checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.payment_contain input:checked ~ .payment_checkmark,.payment_agree_contain input:checked ~ .payment_agree_checkmark {
	background-color: #000000ba;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.payment_checkmark:after,.payment_agree_checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.payment_contain input:checked ~ .payment_checkmark:after,.payment_agree_contain input:checked ~ .payment_agree_checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.payment_contain .payment_checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*글쓰기*/
.board {
	position: relative;
	top: 140px;
	width: 1000px;
	margin: 0px auto;
	box-sizing: border-box;
}

.board h3 {
	border-bottom: 1px solid #222;
	font-weight: bold;
	font-size: 1.6rem;
	padding: 8px 0px;
	margin-bottom: 32px;
}

.board h2 {
	font-size: 1.1rem;
	font-weight: bold;
	padding-bottom: 4px;
	border-bottom: 2px solid #222;
}

.board i {
	font-size: 1rem;
	color: #cb0a0f;
}

.board .form-group {
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	font-size: .9rem;
	color: #222;
}

.board .form-group {
	border-right: none;
}

.board .form-group>label {
	width: 12%;
	padding: 16px 12px;
	box-sizing: border-box;
	float: left;
	background: #f4f4f4;
}

.board .form-group div {
	box-sizing: border-box;
	float: left;
	padding-top: 10px;
	padding-left: 12px;
	width: 88%;
}

label.subject_title::before {
	content: "\2217";
	color: #cb0a0f;
	font-size: 1.1rem;
}

.board .input-group {
	position: relative;
	margin-top: -9px;
	left: -10px;
	height: 20px;
}

.form-group div.col-sm-12 {
	float: left;
	width: 800px;
	padding: 12px;
}

.form-group>label.content-title {
	background: white;
	font-size: 1.1rem;
	font-weight: bold;
	position: relative;
	left: -10px;
	margin-top: 24px;
	margin-bottom: 0px;
	width: 100%;
	height: 40px;
}

.form-group>div.content-contain {
	clear: both;
	width: 100%;
	margin-bottom: 36px;
}

#post_content {
	float: none;
	margin: 0px auto;
	min-width: 100%;
	max-width: 100%;
	min-height: 300px;
	border: 1px solid #999;
}

.alert {
	padding: 12px;
	box-sizing: border-box;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	color: red;
	font-size: .9rem;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}

.alert-info {
	background-image: -webkit-linear-gradient(top, #d9edf7 0, #b9def0 100%);
	background-image: -o-linear-gradient(top, #d9edf7 0, #b9def0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
	background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #9acfea;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: .2;
}

.alert-dismissible .close {
	position: relative;
	top: -3px;
	color: inherit;
}

.alert-warning {
	background-image: -webkit-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -o-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
	background-image: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #f5e79e;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

/* 일반페이지 이동 버튼 */
.document-button {
	width: 100%;
	height: 50px;
	margin: 32px auto;
	color: white;
}

.document-button button {
	width: 50%;
	height: 100%;
	float: left;
	border: none;
	box-sizing: border-box;
	background: #444;
	color: white;
}

.border-button {
	width: 100%;
	height: 50px;
	margin-top: 48px;
	margin-left: auto;
	margin-right: auto;
}

.border-button button {
	width: 50%;
	height: 100%;
	float: left;
	border: none;
	box-sizing: border-box;
	background: #444;
	color: white;
}

.border-button {
	color: white;
}

button.btn-success {
	background: #222;
	color: white;
	border-radius: none;
	width: 100%;
	font-weight: bold;
	font-size: 1rem;
}

.register nav {
	text-align: left;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
/* 페이지네이션 */
nav,.pagination {
	text-align: center;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

li {
	list-style: none;
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
	margin-left: 0;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover
	{
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #665134;
	border-color: #665134;
	border: 1px solid #583f1c;
}

.pagination>li>a,.pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #665134;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	margin: 0 5px;
}

.top-nav {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	font-size: .75em;
}

.top-nav a {
	display: inline-block;
}

.top-nav span {
	font-weight: bold;
	color: #866e4a;
}

a {
	color: #000;
	text-decoration: none;
}

/*정보수정*/
.modify_table {
	width: 100%;
	background: white;
	box-shadow: 1px 1px 5px 1px #ccc;
	margin-bottom: 60px;
}

.modify_table tr {
	border-bottom: 1px solid #ddd;
}

.modify_table span {
	padding-left: 1rem;
}

.modify_label {
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
	color: #222;
	width: 30%;
	text-align: left;
	border-right: 1px solid #ddd;
}

.modify_content {
	line-height: 1.3rem;
	color: #222;
	text-align: left;
	width: 70%;
	font-size: 0.875rem;
}

.modify_input placeholder {
	color: #222;
}

.modify_input {
	color: #222;
	padding: 1rem;
	box-sizing: content-box;
	border: none;
	width: 200px;
	height: 100%;
}

.modify_post {
	display: block;
	float: none;
}

.date_line {
	position: relative;
	display: block;
	width: 70%;
	height: 2px;
	background: #222;
	margin: 12px auto 36px auto;
}

.title_line {
	display: block;
	width: 50%;
	height: 5px;
	background: #222;
	margin: 12px auto 0px auto;
}

.article_contain h2 {
	display: inline-block;
	font-size: 1.8rem;
	margin-bottom: 24px;
}

.article_contain img {
	width: auto;
}

/*회원가입*/
.join_form {
	width: 600px;
	margin: 0px auto;
}

.join_form li {
	position: relative;
	box-sizing: border-box;
	border: 1px solid #dcdcdc;
	height: 40px;
	margin-bottom: 15px;
}

.join_form li input {
	float: left;
	border: none;
	width: calc(100% - 45px);
	height: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	border-left: 1px solid #dcdcdc;
	text-indent: 1rem;
}

.join_form li span.join_icon {
	box-sizing: border-box;
	font-size: 1.3rem;
	line-height: 2.5rem;
	border: none;
	color: #bbb;
	width: 45px;
	height: 100%;
	background: #f2f2f2;
	float: left;
}

.join_form li:last-child {
	border: none;
	text-align: left;
	font-size: .75rem;
	line-height: 1rem;
	color: #666;
}

.join_form li:last-child button {
	width: 100%;
	padding: 12px;
	background: #000000ba;
	border: none;
	color: white;
	margin-top: 24px;
	margin-bottom: 12px;
	font-weight: bold;
}

.join_form li:last-child a {
	color: #666;
	text-decoration: underline;
	cursor: pointer;
}

.join_form li span:last-child {
	color: #999;
	position: absolute;
	right: 12px;
	top: 12px;
}

.id_check_sucess {
	padding-left: 10px;
	color: blue;
}

.id_check_fail {
	padding-left: 10px;
	color: red;
}

/* 회원가입 */
.register {
	margin-top: 140px;
	margin-bottom: 70px;
}

.panel-heading h3 {
	font-weight: bold;
	font-size: 1.6rem;
	padding: 8px 0px;
	margin-bottom: 32px;
}

.form-body {
	width: 100%;
	background: white;
	box-shadow: 1px 1px 5px 1px #ccc;
}

.register .form-group {
	border-bottom: 1px solid #ddd;
}

.register .form-group {
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	font-size: .9rem;
	color: #222;
}

.register-label {
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
	color: #222;
	width: 25%;
	box-sizing: border-box;
	text-align: left;
	float: left;
	line-height: 1.3rem;
}

.register-content {
	line-height: 1.3rem;
	padding: 1rem;
	color: #222;
	text-align: left;
	width: 75%;
	box-sizing: border-box;
	font-size: 0.875rem;
	padding-left: 1rem;
	float: left;
	border-left: 1px solid #ddd;
}

.register-content-none-border {
	line-height: 1.3rem;
	padding: 1rem;
	color: #222;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
	font-size: 0.875rem;
	padding-left: 1rem;
	float: left;
	border-left: 0px solid #ddd;
}

.register-content input {
	border-radius: 2px;
	border: 1px solid #222;
	position: relative;
}

.btn-default {
	background: #cb0a0f;
	color: white;
}

.modify_input placeholder {
	color: #222;
}

.modify_input {
	color: #222;
	padding: 1rem;
	box-sizing: content-box;
	border: none;
	width: 300px;
	height: 100%;
}

.modify_select {
	border: none;
	position: relative;
	left: 0.875rem;
	color: #222;
	width: 60px;
	height: 20px;
}

.modify_post {
	display: block;
	float: none;
}

.form_address {
	font-size: 1rem;
	border-radius: 3px;
	color: #222;
	box-sizing: border-box;
	border: 1px solid #999;
	margin: 0px 8px 8px 8px;
	padding: 8px;
}

.form_adress1,.form_adress2 {
	width: 226px;
}

li.address_change_wrap {
	padding: 8px;
}

.address_change {
	/*width:100%;*/
	text-align: center;
	color: white;
	background: #222;
	border: none;
	border-radius: 3px;
	padding: 8px;
	margin-top: -8px;
	cursor: pointer;
}

div.bank-info {
	font-size: .75rem;
	text-align: left;
	line-height: 1.2rem;
	padding-left: 15px;
	margin-top: 32px;
}

.payment_select {
	font-weight: bold;
	font-size: 1.2rem;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 32px;
}

table.payment_inform {
	width: calc(100% - 15px);
	box-sizing: border-box;
	font-size: 1rem;
	margin-bottom: 32px;
}

table.payment_inform th {
	text-align: left;
	width: 90px;
	padding: 8px 15px;
}

table.payment_inform td {
	text-align: right;
	box-sizing: border-box;
	padding: 8px;
}

table.payment_inform td input {
	width: 100px;
	box-sizing: border-box;
	padding: 4px;
}

table.payment_inform td:nth-child(2) {
	width: 150px;
}

table.payment_inform td:last-child {
	text-align: left;
	font-size: .75rem;
	text-align: center;
}

table.payment_inform tr:last-child {
	border: 1px solid #dcdcdc;
	border-width: 1px 0px 1px 0px;
}

table.payment_inform tr:last-child td {
	font-size: 1.2rem;
	font-weight: bold;
}

button.edit-button {
	color: white;
	background: #000000ba;
	border: 1px solid #222;
	box-sizing: border-box;
	padding: 4px 8px;
}

.searchBar Button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ebebeb));
	background: -moz-linear-gradient(center top, #ffffff 5%, #ebebeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	background-color: #ffffff;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	border-left: none;
	display: inline-block;
	color: #777777;
	font-size: .75rem;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	width: 50px;
	height: 25px;
	box-sizing: border-box;
}

button.hasSelect {
	background: #666;
	color: white;
}

.orderList table tr td button,.standard_info>li>button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #222222;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	height: 24px;
	line-height: 24px;
	width: 80px;
	text-decoration: none;
	text-align: center;
}

.orderList table tr td button:hover,.standard_info>li>button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.orderList table tr td button:active,.standard_info>li>button:active {
	position: relative;
	top: 1px;
}

.orderListButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #222;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding: 4px 6px;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	position: relative;
	top: -1px;
}

.orderListButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.orderListButton:active {
	position: relative;
	top: 1px;
}

.red {
	font-size: 1.2rem;
	color: red;
}

.editor {
	width: 100%;
	height: auto;
	border: 1px solid #dcdcdc;
	margin-bottom: 40px;
}

.optionName {
	flex: 0 0 auto;
	width: 8%;
	text-align: center;
	background: #f7f7f7;
	box-sizing: border-box;
	line-height: 1.5rem;
}

.optionContent {
	flex: 1 1 auto;
	width: calc(( 100% - 24%)/3);
	box-sizing: border-box;
}

li.optionContent input {
	padding: 4px;
	margin-left: 8px;
}

/*deposit*/
div.container h3 {
	font-weight: bold;
	padding-left: 8px;
}

div.container h4 {
	margin-top: 40px;
	font-weight: bold;
}

div.page-header h4 {
	padding-left: 16px;
}

table.dp-table tr td:first-child {
	width: 50px;
}

div.container .order-button {
	margin-bottom: 30px;
	padding: 20px 100px;
}

div#form-horizontal {
	box-sizing: borderbox;
	width: 1000px;
	margin: 0px auto;
	padding-left: 10px;
}